* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  font-family: var(--fuente-regular);
}
main {
  width: 100%;
  padding-top: 85px;
}
img {
  width: 100%;
}
ul {
  margin: 0;
}
li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}



